@using Microsoft.AspNet.Identity

@{ 
    var shoppingCartItemsCount = Session["shoppingCartItemsCount"] != null ? Session["shoppingCartItemsCount"] : 0;
}

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Home", routeValues: null)">
        <i class="fa fa-home"></i>
        <span class="homeLinkLabel">Į pagrindinį puslapį</span>
     </a></li>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li>
                <div class="profile">
                    <div class="profile-img">
                        <a href="#" class="toggle-menu">
                            <span>A</span>
                        </a>
                    </div>

                    <div class="profile-menu">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-user"></i>Profilis</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench"></i>Nustatymai</a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Atsijungti</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li>
            <a href="@Url.Action("Login", "Account", routeValues: null)">
                <i class="fa fa-home"></i>
                <span class="loginLinkLabel">Prisijungti</span>
            </a>
        </li>
    }
</ul>
