
        <h3 class="main-title">Sveiki atvykę į administratoriaus panelę</h3>
    </div>
   @* <div class="panel-body">
        <div class="col-md-4">
            <div class="well dash-box">
                <h2><span class="fa fa-users"></span> 4</h2>
                <h4>Vartotojai</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well dash-box">
                <h2><span class="fa fa-shopping-cart"></span> 103</h2>
                <h4>Prekės</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well dash-box">
                <h2><span class="fa fa-truck"></span> 15</h2>
                <h4>Užsakymai</h4>
            </div>
        </div>
    </div>*@
@*
<!-- Latests users -->
<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Paskutiniai vartotojai</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>Vardas</th>
                <th>El. paštas</th>
                <th>Prisijungė</th>
            </tr>
            <tr>
                <td>John</td>
                <td>john@as.com</td>
                <td>2012-12-12</td>
            </tr>
            <tr>
                <td>Johnas</td>
                <td>johnas@as.com</td>
                <td>2014-12-12</td>
            </tr>
        </table>
    </div>
</div>*@