
@{
    ViewBag.Title = "OrdersForAdmin";
}

<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Užsakymai </h3>
    </div>
    <div class="panel-body">
        <div class="admin-list">
            <span> Iš viso aktyvių užsakymų: <span>99</span></span>

            <hr />
            <div class="row search-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <strong>Paieška: </strong>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ieškoti..." id="search-query">
                        <span class="input-group-btn">
                            <button class="btn product-btn" id="search-button" type="button" onclick="search(true, 'orders');">Ieškoti</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="list">
                    <div class="row admin-list-row admin-list-headrow">
                        <div class="col-md-5  ">
                            <div>ID</div>
                        </div>
                        <div class="col-md-3  ">
                            <div>El. Paštas</div>
                        </div>
                        <div class="col-md-3  ">
                            <div>Vartotojo vardas</div>
                        </div>
                        <div class="col-md-1  ">
                            <div>Veiksmai</div>
                        </div>
                    </div>

                    @foreach (var order in Model)
                    {
                        @order.User.Email
                        <br/>
                    }

                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous" id="prod-page-prev">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next" id="prod-page-next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--container end-->
        </div>
    </div>
</div>