@model FuriousWeb.Models.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profilis";
}

<h3>Vartotojo profilis</h3>
<div class="btn-group btn-group-justified profile-page clearfix" role="group" aria-label="...">
    <div class="btn-group profile-button" role="group">
        <a href="@Url.Action("Profile", "Account", routeValues: null)" class="btn btn-default">Užsakymai</a>
    </div>
    <div class="btn-group profile-button" role="group">
        <a href="@Url.Action("EditProfileView", "Account", routeValues: null)" class="btn btn-default">Redaguoti profilį</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}