@model FuriousWeb.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Profilis";
}


@if (Model.Orders.Count() > 0)
{
    <h3>Pirkimų istorija</h3>
    <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <ul class="list-group clearfix">
                <li class="list-group-item clearfix">
                    <div class="col-md-2">ID</div>
                    <div class="col-md-4">Laikas</div>
                    <div class="col-md-6 text-md-right">Suma</div>
                </li>
                @foreach (var order in Model.Orders)
                {
                    <li class="list-group-item clearfix">
                        <div class="col-md-2">@order.ID</div>
                        <div class="col-md-4">Laikas</div>
                        <div class="col-md-6 text-md-right">Kaina</div>
                    </li>
                }
            </ul>
        </div>
        <div class="panel-footer">
            <button type="button" onclick="location.href='@Url.Action("openCheckout", "Checkout")'" class="btn-primary">Apmokėti</button>
        </div>
    </div>
}
else
{
    <h3>Pirkimų istorija yra tuščia</h3>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}