<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="mainmenu pull-left">
                <ul class="nav navbar-nav collapse navbar-collapse">
                    <li><a href="index.html" class="active">Pagrindinis</a></li>
                    <li class="dropdown">
                        <a href="#">Vyrams<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="shop.html">Batai</a></li>
                            <li><a href="product-details.html">Striukės</a></li>
                            <li><a href="checkout.html">Kelnės</a></li>
                            <li><a href="cart.html">Kojinės</a></li>
                        </ul>
                    </li>
                    <li><a href="404.html">Moterims</a></li>
                    <li><a href="contact-us.html">Vaikams</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="search_box pull-right">
                <input type="text" placeholder="Ieškoti..." />
            </div>
        </div>
    </div>
</div>