@{
    ViewBag.Title = "Cart";
    var CartProducts = ViewBag.Products as Dictionary<string, string>;

}
<h2>@ViewBag.Title.</h2>

<div class="panel">
    <div class="panel-heading">
        <span>ViewBag.Message</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-md-6">Product ID</div>
                <div class="col-md-6">Quantity</div>
            </li>
            @foreach (var product in CartProducts)
            {
                <li class="list-group-item">
                    <div class="col-md-6">@product.Key</div>
                    <div class="col-md-6">@product.Value</div>
                </li>
            }
        </ul>
    </div>
</div>


<div class="panel" id="payment-panel">
    <div class="panel-heading text-center">
        <h3>@ViewBag.Message</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 text-right">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-number" placeholder="Card number"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 col-xs-6">
                <input class="form-control" type="number" id="exp-year" placeholder="Expiration year" />
            </div>
            <div class="col-md-2 col-xs-6">
                <input class="form-control" type="number" id="exp-month" placeholder="Expiration month" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-holder" placeholder="Card holder"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-cvv" placeholder="Card CVV"/>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button id="pay-now" class="btn btn-md btn-primary">Pay now</button>
    </div>
</div>

<script>
    
</script>