
@{
    ViewBag.Title = "Prisijungimas";
}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Prisijungti</h2>
                    <form action="#">
                        <input type="email" placeholder="El. paštas" />
                        <input type="password" placeholder="Slaptažodis" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Prisiminti mane
                        </span>
                        <button type="submit" class="btn btn-default">Prisijungti</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">ARBA</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Naujas vartotojas</h2>
                    <form action="#">
                        <input type="text" placeholder="Vardas" />
                        <input type="email" placeholder="El. paštas" />
                        <input type="password" placeholder="Slaptažodis" />
                        <button type="submit" class="btn btn-default">Registruotis</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>