@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="hello">
            Sveiki, @{User.Identity.GetUserName();}!
        </div>
        <div class="profile">
            <div class="profile-img">
                <a href="#" class="toggle-menu">
                    <span>A</span>
                </a>
            </div>

            <div class="profile-menu">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Profilis</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench"></i>Nustatymai</a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Atsijungti</a>
                    </li>
                </ul>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Krėpšelis", "OpenCart", "Products", routeValues: null, htmlAttributes: new { @class = "fa fa-shopping-basket", id = "cartLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}