@{
    ViewBag.Title = "Checkout";
}
@model FuriousWeb.Models.Checkout
@if (Model.paymentErr != null)
{
    <!--Model.paymentErr.Message-->

    <div class="message">
        <p>Įvyko klaida bandant apmokėti, atsiprašome, bandykite dar kartą.</p>
    </div>
}

<form method="post" action="SubmitPayment" runat="server">
    
    <div class="personal_info">
        <div class="title">
            Jūsų kontaktiniai duomenys
        </div>
        <div class="info">
            <div>
                <div>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Vardas*" required />
                    <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Pavardė*" required />
                </div>
                <div>
                    <input class="form-control" type="email" id="email" name="email" placeholder="El. pašto adresas*" required />
                    <input class="form-control" type="text" id="phone" name="phone" placeholder="Telefono numeris*" required />
                </div>
                <div>
                    <input class="form-control" type="text" id="address" name="address" placeholder="Adresas*" required />
                </div>
            </div>
        </div>
    </div>
    

    <div class="billing_info">
        <div class="title">
            Įveskite kortelės duomenis
        </div>
        <div class="info">
            <div>
                <div>
                    <input class="form-control" maxlength="16" type="text" id="card-number" name="card_number" placeholder="Kortelės numeris" required/>
                </div>
                <div>
                    <input class="form-control" min="1900" max="10000" type="number" id="exp-year" name="exp_year" placeholder="Galioja iki (metai)" required/>
                    <input class="form-control" min="1" max="12" type="number" id="exp-month" name="exp_month" placeholder="Galioja iki (mėnesis)" required/>
                </div>
                <div>
                    <input class="form-control" maxlength="3" type="text" id="card-cvv" name="card_cvv" placeholder="Kortelės CVV kodas" required/>
                </div>
            </div>
        </div>
        <div class="do_action">
            <div>
                <button type="submit" id="pay-now" class="btn btn-primary add-to-cart">Apmokėti</button>
                <button type="reset" id="reset" class="btn btn-default add-to-cart">Valyti</button>
            </div>
        </div>
    </div>
</form>