
@{
    ViewBag.Title = "Thank you";
}
@model FuriousWeb.Models.ThankYou

<section>
    <div class="container">
        <div class="thankyou">
            <p>Ačiū, kad apsipirkote, lauksime sugrįštant.</p>
        </div>
        <div class="come-back">
            <div class='logo'>
                <img src="~/Content/Images/logo.png" alt="" />
            </div>
            <p>Grįžti į <a href="@Url.Action("Index", "Home", routeValues: null)">pagrindinį puslapį</a></p>
        </div>
    </div>
</section>