@model IEnumerable<FuriousWeb.Models.Product>

<div class="features_items">
    <h2 class="title text-center">Visos prekės</h2>
    @foreach (var product in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a href="@Url.Action("DetailsForUsers", "Products", routeValues: new { id = product.Id })"><img src="~/Content/Images/Products/adidas.jpg" alt="" /></a>
                        <h2>@product.Price €</h2>
                        <p>@product.Name</p>
                        <button type="button" class="btn btn-default btnAddToCart add-to-cart" onclick="onBtnAddToCartClick(this, @product.Id, false)"><i class="fa fa-shopping-cart"></i> Įdėti į krėpšelį</button>
                    </div>
                </div>
            </div>
        </div>

    }
  
    <ul class="products-pagination pagination">
        @*<li>&raquo;</li>*@
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">
        
            
    </script>
}