@model IEnumerable<FuriousWeb.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Cart";
}

<h3>Krepšelis</h3>

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-md-6">Prekė</div>
                <div class="col-md-6">Kiekis</div>
            </li>
            @foreach (var product in Model)
            {
                <li class="list-group-item">
                    <div class="col-md-6">@product.Product.Name</div>
                    <div class="col-md-6">@product.Quantity</div>
                </li>
            }
        </ul>
    </div>
    <div class="panel-footer">
        <!--<input type="button" value="Apmokėti" onclick="window.location.href='../Checkout'"/>-->
        <button type="button" onclick="location.href='@Url.Action("openCheckout", "Checkout")'" class="btn-primary">Apmokėti</button>
    </div>
</div>


@*<div class="panel" id="payment-panel">
    <div class="panel-heading text-center">
        <h3>@ViewBag.Message</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 text-right">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-number" placeholder="Card number"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 col-xs-6">
                <input class="form-control" type="number" id="exp-year" placeholder="Expiration year" />
            </div>
            <div class="col-md-2 col-xs-6">
                <input class="form-control" type="number" id="exp-month" placeholder="Expiration month" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-holder" placeholder="Card holder"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="card-cvv" placeholder="Card CVV"/>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button id="pay-now" class="btn btn-md btn-primary">Pay now</button>
    </div>
</div>*@