@import '../../libs/font-awesome/css/font-awesome.min.css';

html, body{
    height: 100%;
}

body {
    background: #f4f4f4;
}

/* Navbar */
.admin-head .navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.admin-head .navbar-nav > li > a, .admin-head .navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}


.admin-head .navbar-default {
    background-color: #fe980f;
    border-color: #8d5100;
}

    .admin-head .navbar-default .navbar-brand {
        color: #ffffff;
    }

    .admin-head .navbar-default .navbar-brand:hover,
    .admin-head .navbar-default .navbar-brand:focus {
        color: #ffffff;
    }

    .admin-head .navbar-default .navbar-text {
        color: #ffffff;
    }

    .admin-head .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .admin-head .navbar-default .navbar-nav > li > a:hover,
        .admin-head .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
        }

    .admin-head .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: #fe980f;
    }

        .admin-head .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #ffffff;
        }

            .admin-head .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .admin-head .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #ffffff;
                background-color: #8d5100;
            }

        .admin-head .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #8d5100;
        }

    .admin-head .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .admin-head .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .admin-head .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #8d5100;
    }

    .admin-head .navbar-default .navbar-nav > .active > a,
    .admin-head .navbar-default .navbar-nav > .active > a:hover,
    .admin-head .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #8d5100;
    }

    .admin-head .navbar-default .navbar-nav > .open > a,
    .admin-head .navbar-default .navbar-nav > .open > a:hover,
    .admin-head .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #8d5100;
    }

    .admin-head .navbar-default .navbar-toggle {
        border-color: #8d5100;
    }

        .admin-head .navbar-default .navbar-toggle:hover,
        .admin-head .navbar-default .navbar-toggle:focus {
            background-color: #8d5100;
        }

        .admin-head .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .admin-head .navbar-default .navbar-collapse,
    .admin-head .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .admin-head .navbar-default .navbar-link {
        color: #ffffff;
    }

        .admin-head .navbar-default .navbar-link:hover {
            color: #ffffff;
        }
/* Custom */

.main-color-bg {
    background-color: #fe980f !important;
    border-color: #8d5100 !important;
    color: #ffffff !important;
}

/* Header */
#admin-header {
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 15px;
}

    #admin-header .create {
        padding-top: 20px;
    }

/* Breadcrumb */
#breadcrumb {
    padding-top: 20px;
}

.breadcrumb {
    background: #cccccc;
    color: #333333;
}

    .breadcrumb a {
        color: #333333;
    }

/* Dash-content */
.dash-box {
    text-align: center;
}

/* Page cont wrapper */
.cont-wrapper {
    min-height: 100%;
    margin-bottom: -120px;
    padding-bottom: 120px;
}
/* Footer */
.admin-footer {
    padding-top: 30px;
    background: #333333;
    color: #ffffff;
    text-align: center;
    height: 120px;
}

/* Products admin */
.admin-list {
    background: #fff;
}
    .admin-list .creation-row {
        padding: 10px;
        margin: 10px 0 10px 0;
    }

    .admin-list .product-btn {
        background-color: #fe980f;
        border-color: #8d5100;
        color: #fff;
    }

        .admin-list .product-btn:hover {
            background: #fff;
            border-color: #fe980f;
            color: #fe980f;
        }

    .admin-list .search-row {
        padding-bottom: 20px;
    }

    .admin-list .list-item,
    .admin-list .list-titles {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000;
        padding: 15px 0;
    }

        .admin-list .list-titles > div {
            font-weight: bold;
        }

        .admin-list .list-item > div,
        .admin-list .list-titles > div {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }

        .admin-list .list-item > .check-box,
        .admin-list .list-titles > .check-box {
            width: 15px;
            margin-right: 5px;
        }

        .admin-list .list-item > .id,
        .admin-list .list-titles > .id {
            width: 15px;
        }

        .admin-list .list-item > .actions,
        .admin-list .list-titles > .actions {
            width: 50px;
            display: flex;
            justify-content: space-between;
        }

    .admin-list .pagination li {
        border-color: #8d5100;
        color: #000;
    }


    .pagination-area {
        margin-top: 45px;
    }


    .pagination {
        width: 100%;
        display: inline-block;
        margin-bottom: 25px;
        margin-top: 25px;
        padding-left: 15px;
    }

    .pagination li:first-child, .pagination li:first-child span {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        margin-left: 0;
    }

    .pagination li:last-child, .pagination li:last-child span {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .pagination .active, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
        background-color: #FE980F;
        border-color: #FE980F;
        color: #FFFFFF;
        cursor: default;
        z-index: 2;
    }

    .pagination li, .pagination li span {
        background-color: #f0f0e9;
        border: 0;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        margin-right: 5px;
        color: #000;
        cursor: pointer;
    }

    .pagination li:hover {
        background: #FE980F;
        color: #fff;
    }

    .pagination-area .pagination li {
        background: #F0F0E9;
        border: 0 none;
        border-radius: 0;
        color: #696763;
        margin-right: 5px;
        padding: 4px 12px;
    }

    .pagination-area .pagination li:hover,
    .pagination-area .pagination li .active {
        background: #FE980F;
        color: #fff
    }

    .admin-list .pagination li #prod-page-prev, .admin-list .pagination li #prod-page-next {
        background-color: #fe980f;
        border-color: #8d5100;
        color: #fff;
    }

    .admin-list .admin-list-row {
        padding: 10px 10px;
        border-bottom: 1px solid #000;
        font-size: 16px;
    }

        .admin-list .admin-list-headrow {
            font-weight: bold;
        }

    .admin-list .actions .edit,
    .admin-list .actions .delete {
        padding-right: 10px;
        color: #fe980f;
    }

    /* Edit/Create products */
    .prod-img-container{
        padding-top: 40px;
    }

        .prod-img-container .close{
            opacity: 1;
            border-radius: 100px;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            background: #fff;
            text-align: center;
        }

        .prod-img-container .prod-img-main {
            display: inline-block;
            width: 98%;
            position: relative;
        }

        .prod-img-container .prod-img-thumbnail{
            display: inline-block;
            width: 32%;
            position: relative;
        }
            .prod-img-container .prod-img-thumbnail img,
            .prod-img-container .prod-img-main img {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                height: auto;
                width: 100%;
            }
                .prod-img-container .prod-img-thumbnail img:hover,
                .prod-img-container .prod-img-main img:hover {
                    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                }





        @media (max-width: 767px) {
            .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #8d5100;
    }
}
